aiosignal==1.3.1
attrs==23.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
distlib==0.3.8
filelock==3.15.4
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
grpcio==1.51.3
idna==3.7
importlib_resources==6.4.0
intel-openmp==2021.4.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lazy_loader==0.4
llvmlite==0.43.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mkl==2021.4.0
mne==1.7.1
mpmath==1.3.0
msgpack==1.0.8
mspca==0.0.4
networkx==3.2.1
numba==0.60.0
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==3.11.0
pooch==1.8.2
protobuf==5.27.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
ray==2.4.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.0
scikit-learn==1.5.1
scipy==1.13.1
six==1.16.0
sympy==1.13.1
tbb==2021.13.0
threadpoolctl==3.5.0
torch==2.3.1
tqdm==4.66.4
tslearn==0.6.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.21.0
zipp==3.19.2
